<div class="dropdown">
  <a class="dropdown-toggle" ng-attr-id="{{dropdownId}}" role="button" data-toggle="dropdown" data-target="#">
    <div class="input-group"><input type="text" class="form-control" data-ng-model="date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="date" data-on-set-time="onTimeSet(newDate, oldDate)" data-datetimepicker-config="{ dropdownSelector: '#'+ dropdownId }"/>
  </ul>
</div>
