<div class="wrapper-md">
    <form name="newFixedForm" class="bs-example form-horizontal form-validation">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品名称</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.name" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">管理机构</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.orgnization" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">融资方</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.financer">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">起购金额</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.minPurchaseAmount" placeholder="数字">
                    </div>
                    <span class="col-lg-2 control-label">万元</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品简称</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.shortName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">机构类型</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.orgnizationType" ng-required="true" convert-to-number>
                            <option value="0">信托</option>
                            <option value="1">证券公司</option>
                            <option value="2">证券子公司</option>
                            <option value="3">公募基金</option>
                            <option value="4">基金子公司</option>
                            <option value="5">私募管理人</option>
                            <option value="6">有限合伙</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">运作方式</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.operationType" convert-to-number>
                            <option value="1">开放式</option>
                            <option value="0">封闭式</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">开放期</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.openPeriod">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品规模</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.amount" ng-required="true" placeholder="数字">
                    </div>
                    <span class="col-lg-2 control-label">万元</span>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">托管机构</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.hostBank">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">收益分配</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.distributionType" convert-to-number>
                            <option value="0">到期一次性支付</option>
                            <option value="1">经过季度分配</option>
                            <option value="2">经过半年度分配</option>
                            <option value="3">经过九个月分配</option>
                            <option value="4">经过年度分配</option>
                            <option value="5">自然季度分配</option>
                            <option value="6">自然半年度分配</option>
                            <option value="7">自然年度分配</option>
                            <option value="8">随收随付</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">投资领域</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.investArea">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品类型</label>
                    <label class="col-lg-4 control-label">固定类</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品期限</label>
                    <div class="col-lg-8 col-md-8">
                        <div class="radio">
                            <label>
                                <input type="radio" ng-change='onSelectPeriod(selectedPeriod)' name="optionsRadios" id="optionsRadios2" ng-model="selectedPeriod" value="1" ng-required="true">
                                <input type="number" class="form-control input-sm yw-w-xxxs inline" ng-model="product.period[0]"> 月 +
                                <input type="number" class="form-control input-sm yw-w-xxxs inline" ng-model="product.period[1]"> 月
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-change='onSelectPeriod(selectedPeriod)' name="optionsRadios" id="optionsRadios2" ng-model="selectedPeriod" value="2" ng-required="true">
                                <input type="number" class="form-control input-sm w-xxs inline" ng-model="product.period[2]"> 天
                            </label>
                        </div>
                    </div>
                </div>
                <fieldset disabled>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">成立日期</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="product.establishDate">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">管理费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.manageFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">销售费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.saleFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">其他费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.otherFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <!-- <div class="form-group">
                        <label class="col-lg-4 control-label">可打款金额</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" ng-model="product.availablePurchaseAmount">
                        </div>
                    </div> -->
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">托管费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.hostFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">佣金费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.commissionFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品简介</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">还款来源</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.repaySource"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品介绍</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.info"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">风控措施</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.riskControl"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">风险提示</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.riskTip"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <!--产品上线后不得修改收益设置-->
        <div class="row" ng-if="product.status === 0">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">收益设置</label>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-default" ng-click="addIncomeSetting()">
                            添加时长阶梯
                        </button>
                    </div>
                    <!-- <div class="col-lg-3">
                            <button class="btn btn-default w-xs" ng-click="deleteIncomeSetting()">
                                删减
                            </button>
                        </div> -->
                </div>
            </div>
        </div>
        <!-- 未解决 start -->
        <div class="row" ng-if="product.status === 0" ng-repeat="setting in product.incomeSetting">
            <div class="pannel panel-default b-a m-b-md m-l-sm m-r-sm">
                <div class="panel-body">
                    <form class="bs-example form-horizontal">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">购买期限</label>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" ng-model="setting.anualRatePeriod">
                                    </div>
                                    <div class="col-lg-1">
                                        <p class="control-label">月/天</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <button type="button" class="btn btn-default inline" ng-click="addRate(setting)">添加阶梯利益</button>
                            </div>
                            <button class="btn btn-xs btn-icon btn-icon-sm m-t-xs" ng-click="deleteIncomeSetting(setting)"><i class="glyphicon glyphicon-remove"></i></button>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" ng-repeat="rate in setting.rates">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">第{{$index+1}}档</label>
                                    <div class="col-lg-9 no-padder">
                                        <label>
                                            认购金额
                                            <input type="number" class="form-control input-sm yw-w-xxxs inline no-padder" ng-model="rate.subscribeAmount[0]"> &nbsp;-&nbsp;
                                            <input type="number" class="form-control input-sm yw-w-xxxs inline no-padder" ng-model="rate.subscribeAmount[1]"> 万元，年化收益
                                            <input type="number" class="form-control input-sm yw-w-xxxs inline no-padder" ng-model="rate.rate"> %
                                        </label>
                                    </div>
                                    <div class="col-lg-1 no-padder">
                                        <button class="btn btn-xs btn-icon btn-icon-sm" ng-click="deleteRate(setting,rate)"><i class="glyphicon glyphicon-remove"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" class="col-lg-12" ng-if="product.status !== 0">
            <div class="form-group">
                <label class="col-lg-1 control-label myform-label">收益设置 :</label>
            </div>
        </div>
        <div class="row" ng-if="product.status !== 0" ng-repeat="setting in product.incomeSetting">
            <div class="pannel panel-default b-a m-b-md m-l-sm m-r-sm">
                <div class="panel-body">
                    <form class="bs-example form-horizontal">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-lg-2 col-lg-offset-2 control-label myform-label">购买期限 :</label>
                                    <div class="col-lg-8 text-left control-label myform-label">{{setting.anualRatePeriod}}{{getPeriodTypeShow(product.period)}}
                                        <!--  <input type="text" class="form-control" ng-model="setting.anualRatePeriod"> -->
                                    </div>
                                    <!-- <div class="col-lg-1"><p class="control-label myform-label">月</p></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" ng-repeat="rate in setting.rates">
                                <div class="form-group">
                                    <label class="col-lg-2 col-lg-offset-2 control-label myform-label">第{{$index+1}}档 :</label>
                                    <div class="col-lg-8 no-padder">
                                        <label class="mydang">
                                            认购金额
                                            <!-- <span class="control-label myform-label">{{rate.subscribeAmount[0] | rmbTT}}</span> &nbsp;-&nbsp;
                                            <span class="control-label myform-label">{{rate.subscribeAmount[1] | rmbTT}}</span> 万元，年化收益 -->
                                            <span class="control-label myform-label">{{rate.subscribeAmount[0]}}</span> &nbsp;-&nbsp;
                                            <span class="control-label myform-label">{{rate.subscribeAmount[1]}}</span> 万元，年化收益
                                            <span class="control-label myform-label">{{rate.rate}}</span> %
                                        </label>
                                    </div>
                                    <!-- <div class="col-lg-1 no-padder">
                                                <button class="btn btn-xs btn-icon btn-icon-sm" ng-click="deleteRate(setting,rate)"><i class="glyphicon glyphicon-remove"></i></button>
                                            </div> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品附件</label>
                    <div class="col-lg-10">
                        <my-file-upload ng-if="isAttachmentEditable()" files="product.attachment"></my-file-upload>
                        <my-file-viewer ng-if="!isAttachmentEditable()" class="text-left" files="product.attachment"></my-file-viewer>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">推荐材料</label>
                    <div class="col-lg-10">
                        <my-file-upload files="product.recommendMaterial"></my-file-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <button type="submit" class="btn m-t-md m-r-md w-xs btn-primary" ng-click="submit()" value="保存" ng-disabled="!newFixedForm.$valid">保存
                </button>
                <button type="button" class="btn m-t-md w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>
