<div class="wrapper-md">
    <!-- <div class="row">
    <div class="col-lg-6">
          <div class="form-group">
              <label class="col-lg-3 control-label">截止日期</label>
              <div class="col-lg-8">
                  <my-date-picker date="query.endDate"></my-date-picker>
              </div>
          </div>
          </div>
          <div class="col-lg-4">
          <button type="submit" ng-click="setBtn()" class="btn m-b-xs m-r-md w-xs btn-primary" value="设置">
              设置
          </button>
    </div>
  </div> -->
    <button type="submit" ng-click="exportReportBtn()" class="btn m-b-xs m-r-md w-xs btn-primary" value="报表导出">
        报表导出
    </button>
    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td class="text-center" colspan="8">客户对账函</td>
                </tr>
                <tr>
                    <td>客户姓名</td>
                    <td>{{item.user.realName}}</td>
                    <td>理财师</td>
                    <td colspan="5">{{item.user.employeeRealName}}</td>
                </tr>
                <tr>
                    <td>存续期总资产</td>
                    <td>{{model.statistics.durationTotalAmount}}</td>
                    <td>存续期固定类资产</td>
                    <td>{{model.statistics.durationFixedAmount}}</td>
                    <td>存续期浮动类资产</td>
                    <td>{{model.statistics.durationFloatingAmount}}</td>
                    <td>预期收益</td>
                    <td>{{model.statistics.estimateIncome}}</td>
                </tr>
                <tr>
                    <td>已兑付总资产</td>
                    <td>{{model.statistics.paidTotalAmount}}</td>
                    <td>已兑付固定类资产</td>
                    <td>{{model.statistics.paidFixedAmount}}</td>
                    <td>已兑付浮动类资产</td>
                    <td>{{model.statistics.paidFloatingAmount}}</td>
                    <td>已收收益</td>
                    <td>{{model.statistics.paidIncome}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td class="text-center" colspan="9">固定类</td>
                </tr>
                <tr>
                    <!-- <th>序号</th> -->
                    <th>项目名称</th>
                    <!-- <th>管理机构</th> -->
                    <th>认购金额</th>
                    <th>项目期限</th>
                    <th>项目收益（%）</th>
                    <th>付息方式</th>
                    <th>成立日期</th>
                    <th>到期日期</th>
                    <!-- <th>理财经理</th> -->
                    <th>产品状态</th>
                    <th>已赎回</th>
                </tr>
                <tr ng-repeat="bill in model.products | filter:{type: 1}" st-select-row="row">
                    <!-- <td>{{$index+1}}</td> -->
                    <td>{{bill.name}}</td>
                    <!-- <td>{{bill.orgnization}}</td> -->
                    <td ng-init="model.totalFixedSubscribeAmount=model.totalFixedSubscribeAmount+bill.subscribeAmount">{{bill.subscribeAmount}}</td>
                    <td>{{bill.anualRatePeriod}}</td>
                    <td>{{bill.rate}}</td>
                    <td>{{bill.distributionTypeShow}}</td>
                    <td>{{bill.establishDate}}</td>
                    <td>{{bill.endDate}}</td>
                    <!-- <td>{{bill.employeeRealName}}</td> -->
                    <td>{{bill.productStatusShow}}</td>
                    <td ng-init="model.totalFixeRedeemAmount=model.totalFixeRedeemAmount+bill.redeemAmount">{{bill.redeemAmount}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td>合计</td>
                    <td>{{model.totalFixedSubscribeAmount}}</td>
                    <td colspan="6"></td>
                    <td>{{model.totalFixeRedeemAmount}}</td>
                </tr>
                </tfoot>
                </tbody>
                </table>
                <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td class="text-center" colspan="9">浮动类</td>
                </tr>
                <tr>
                    <!-- <th>序号</th> -->
                    <th>项目名称</th>
                    <!-- <th>管理机构</th> -->
                    <th>认购金额</th>
                    <th>项目期限</th>
                    <th>持有份额</th>
                    <th>最新净值</th>
                    <th>净值日期</th>
                    <th>参考市值</th>
                    <th>累计盈亏</th>
                    <th>已赎回份额</th>
                </tr>
                <tr ng-repeat="bill in model.products | filter:{type: 2}" st-select-row="row">
                    <!-- <td>{{$index+1}}</td> -->
                    <td>{{bill.name}}</td>
                    <!-- <td>{{bill.orgnization}}</td> -->
                    <td ng-init="model.totalFloatingSubscribeAmount=model.totalFloatingSubscribeAmount+bill.subscribeAmount">{{bill.subscribeAmount}}</td>
                    <td>{{bill.anualRatePeriod}}</td>
                    <td>{{bill.share}}</td>
                    <td>{{bill.networth}}</td>
                    <td>{{bill.networthDate}}</td>
                    <td ng-init="bill.totalAmount = getTotalAmount(bill); model.totalFloatingTotalAmount=model.totalFloatingTotalAmount+bill.totalAmount">
                      <!-- {{getTotalAmount(bill)}} -->
                      {{bill.totalAmount}}
                    </td>
                    <!-- <td>{{bill.totalAmount}}</td> -->
                    <!-- <td>{{getProfit(bill)}}</td> -->
                    <td>{{bill.profit}}</td>
                    <td ng-init="model.totalFloatingRedeemShare=model.totalFloatingRedeemShare+bill.redeemShare">{{bill.redeemShare}}</td>
                </tr>
                <tfoot>
                <tr>
                    <td>合计</td>
                    <td>{{model.totalFloatingSubscribeAmount}}</td>
                    <td colspan="4"></td>
                    <td>{{model.totalFloatingTotalAmount}}</td>
                    <td></td>
                    <td>{{model.totalFloatingRedeemShare}}</td>
                </tr>
                </tfoot>
            </tbody>
        </table>
    </div>
</div>
