<div class="wrapper-md">
  <div class="panel panel-default">
    <table st-table="ActivityCtrl" class="table">
      <thead>
      <tr>
        <th>审核人</th>
        <th>审核时间</th>
        <th>审核结果</th>
        <th>审核意见</th>        
      </tr>
      </thead>
      <tbody>
      <tr st-select-row="row">
        <td>{{item.firstReviewEmployeeRealName}}</td>
        <td>{{item.firstReviewTime}}</td>
        <td ng-if="show()===2">初审不通过</td>
        <td ng-if="show()!=2">初审通过</td>
        <td>{{item.firstReviewRemark}}</td>
      </tr st-select-row="row">
      <tr ng-repeat="activity in model.activitySignListOne" st-select-row="row" ng-if="show()!=2">
        <td>{{activity.employeeRealName}}</td>
        <td>{{activity.signTime}}</td>
        <td ng-if="activity.status===1">会签通过</td>
        <td ng-if="activity.status===2">会签不通过</td>
        <td>{{activity.signRemark}}</td>
      </tr>
      <tr st-select-row="row" ng-if="show()!=2">
        <td>{{item.finalReviewEmployeeRealName}}</td>
        <td>{{item.finalReviewTime}}</td>
        <td ng-if="show()===4">终审不通过</td>
        <td>{{}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>