<div class="wrapper-md">
<div class="panel panel-default">
    <div class="panel-body">
    <form name="changeFloatingForm" class="bs-example form-horizontal form-validation">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品名称</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.name" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">管理机构</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.orgnization" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">起购金额</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.minPurchaseAmount">
                    </div>
                    <span class="col-lg-2 control-label" >元</span>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">杠杆比例</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.leverageRatio" convert-to-number>
                            <option value="0">无杠杆</option>
                            <option value="1">0.5:1</option>
                            <option value="2">1:1</option>
                            <option value="3">1.5:1</option>
                            <option value="4">2：1</option>
                            <option value="5">2.5：1</option>
                            <option value="6">3：1</option>
                            <option value="7">3.5：1</option>
                            <option value="8">4：1</option>
                            <option value="9">4.5：1</option>
                            <option value="10">5：1</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">预期收益</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.estimateIncome">
                        <!-- <input type="number" class="form-control" ng-model="product.estimateIncome" placeholder="数字"> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品简称</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.shortName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">机构类型</label>
                    <div class="col-lg-8">
                        <select class="form-control"  ng-model="product.orgnizationType" ng-required="true" convert-to-number>
                            <option value="0">信托</option>
                            <option value="1">证券公司</option>
                            <option value="2">证券子公司</option>
                            <option value="3">公募基金</option>
                            <option value="4">基金子公司</option>
                            <option value="5">私募管理人</option>
                            <option value="6">有限合伙</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">运作方式</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.operationType" convert-to-number>
                            <option value="1">开放式</option>
                            <option value="0">封闭式</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">封闭期</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.closePeriod">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">风险回撤</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.riskWithdraw">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品规模</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.amount" ng-required="true" placeholder="数字">
                    </div>
                    <span class="col-lg-2 control-label">元</span>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">托管机构</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.hostBank">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">投资领域</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.investArea">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">开放期</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" ng-model="product.openPeriod">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">风险等级</label>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="product.riskLevel" convert-to-number>
                            <option value="0">保守</option>
                            <option value="1">稳健</option>
                            <option value="2">进取</option>
                            <option value="3">极度进取</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品类型</label>
                    <label class="col-lg-4 control-label">浮动类</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">产品期限</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" ng-model="product.period[0]" ng-required="true">
                    </div>
                    <p class="m-t-sm">月</p>
                </div>
                <fieldset disabled>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">展期</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" ng-model="product.period[1]">
                        </div>
                        <p class="m-t-sm">月</p>
                    </div>
                </fieldset>
                <fieldset disabled>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">成立日期</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="product.establishDate">
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label class="col-lg-4 col-md-4 control-label">基金经理姓名</label>
                    <div class="col-lg-8 col-md-8">
                        <input type="text" class="form-control" ng-model="product.managerName">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">管理费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.manageFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">申购费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.purchaseFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">业绩报酬费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.rewardFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">托管费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.hostFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">其他费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.otherFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">佣金费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.commissionFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label class="col-lg-4 control-label">认购费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.subscribeFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">赎回费</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.redeemFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
                <div class="form-group">
                    <label class="col-lg-4 control-label">销售费率</label>
                    <div class="col-lg-6">
                        <input type="number" class="form-control" ng-model="product.saleFee" placeholder="数字">
                    </div>
                    <p class="m-t-sm">%</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="col col-lg-5">
                        <label class="control-label">基金经理照片</label>
                        <my-img-upload ng-model="product.photo"></my-img-upload>
                    </div>
                    <!-- <div class="thumb-xl m-l-md">
                        <img src="img/a0.jpg" alt="基金经理照片">
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">费率说明</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.feeExplain"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">开放期设置</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.openPeriodSetting"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">收益描述</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.incomeDescription"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">基金经理介绍</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.managerIntro"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">风险提示</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.riskTip"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品简介</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品介绍</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.info"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">基金公司介绍</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.companyIntro"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">投研团队</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.teamIntro"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">产品亮点</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="4" ng-model="product.highlight"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">产品附件</label>
                        <div class="col-lg-10">
                            <my-file-upload ng-if="isAttachmentEditable()" files="product.attachment"></my-file-upload>
                            <my-file-viewer ng-if="!isAttachmentEditable()" class="text-left" files="product.attachment"></my-file-viewer>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">推荐材料</label>

                        <div class="col-lg-10">
                            <my-file-upload files="product.recommendMaterial"></my-file-upload>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">信息披露</label>

                        <div class="col-lg-10">
                            <my-file-upload files="product.disclourse"></my-file-upload>
                        </div>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-12">
                <button type="submit" class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="submit()" value="保存" ng-disabled="!changeFloatingForm.$valid">保存
                </button>
                <button type="button" class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
