<div class="wrapper-md">
  <button type="submit" ng-click="exportReportBtn()" class="btn m-b-xs m-r-md w-xs btn-primary" value="报表导出">
      报表导出
  </button>
  <div class="panel panel-default">
      <div class="panel-heading">{{item.name}}产品费用明细表</div>
      <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th rowspan="3">营业部</th>
        <th rowspan="3">理财师</th>
        <th rowspan="3">认购金额</th>
        <th rowspan="3">业绩量</th>
        <th colspan="3">基础佣金费用明细</th>
        <th>渠道发放</th>
        <th rowspan="3">项目佣金（元）</th>
      </tr>
      <tr>
        <th>业务提奖（元）</th>
        <th>业务费用（元）</th>
        <th>年中奖（元）</th>
        <th>业务费用（元）</th>
      </tr>
      <tr>
        <th>工资发放</th>
        <th>票据核销</th>
        <th>年底工资发放</th>
        <th>渠道发票核销</th>
      </tr>
      </thead>
      <tbody>
       <tr ng-repeat="report in model.commissionReportList" st-select-row="row">
        <td>{{report.departName}}</td>
        <td>{{report.employeeRealName}}</td>
        <td>{{report.subscribeAmount}}</td>
        <td>{{report.totalAmount}}</td>
        <td>{{report.salary}}</td>
        <td>{{report.reimburse}}</td>
        <td>{{report.yearEndBonus}}</td>
        <td>{{report.channelReimburse}}</td>
        <td>{{report.commission}}</td>
       </tr>
       <tr st-select-row="row">
         <td colspan="2">合计：</td>
         <td>{{subscribeAmountTotal()}}</td>
         <td>{{totalAmountTotal()}}</td>
         <td>{{salaryTotal()}}</td>
         <td>{{reimburseTotal()}}</td>
         <td>{{yearEndBonusTotal()}}</td>
         <td>{{channelReimburseTotal()}}</td>
         <td>{{commissionTotal()}}</td>
       </tr>
      </tbody>
    </table>
    </div>
</div>
