<form name="addFixedRedeemForm" class="bs-example form-horizontal form-validation" style="padding-top:20px;">
    <div class="form-group">
        <label class="col-sm-5 col-sm-offset-2 control-label">浮动类产品赎回</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">产品名称</label>
        <div class="col-sm-7 padding-sm">
            <p>{{item.name}}</p>
        </div>
    </div>
     <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">客户姓名</label>
        <div class="col-sm-4 padding-sm">
            <p>{{item.userRealName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">认购份额</label>
        <div class="col-sm-6 padding-sm">
            <p>{{item.share}}</p>
        </div>
        <div class="col-sm-1 control-label text-left"><p>份</p></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">赎回份数</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" ng-model="submitData.redeemShare" ui-validate="{a:'$value >= 0', b: '$value <= {{item.share}}' }" placeholder="不可超过认购份数" ng-required="true">
        </div>
        <div class="col-sm-1 control-label text-left"><p>份</p></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 col-sm-offset-1 control-label">认购层级</label>
        <div class="col-sm-4 padding-sm">
            <span ng-if="purchaseRecord.subscribeLevel==1">优先级</span>
            <span ng-if="purchaseRecord.subscribeLevel==2">劣后级</span>
        </div>
    </div>
    <div class="form-group">
       <div class="col-sm-offset-3 col-sm-10">
            <button type="submit"  class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="submit()" value="提交" ng-disabled="!addFixedRedeemForm.$valid">提交
            </button>
            <button type="button" class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>
