<div class="wrapper-md">
<form name="fixedIncomeDistributionCrtForm" class="bs-example form-horizontal" style="padding-top:20px;">
    <div class="panel panel-default">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>客户姓名</th>
              <th>认购金额</th>
              <th ng-if="::product.productType === 1">认购份额</th>
              <th>认购期限</th>
              <th ng-if="::product.productType === 0">年化利率</th>
              <th ng-if="::product.productType === 1">认购层级</th>
              <th>认购日期</th>
              <th ng-if="::product.productType === 0">剩余本金(元)</th>
              <th ng-if="::product.productType === 1">剩余份额</th>
              <th ng-if="::product.productType === 0">兑付本金(元)</th>
              <th ng-if="::product.productType === 1">兑付份额</th>
              <th>分配收益(元)</th>

            </tr>
          </thead>
          <tbody>
           <tr ng-repeat="user in model.purchaseRecords" st-select-row="row">
            <td>{{user.userRealName}}</td>
            <td>{{user.purchaseAmount}}</td>
            <td ng-if="::product.productType === 1">{{user.purchaseShare}}</td>
            <td>{{user.anualRatePeriod}}</td>
            <td ng-if="::product.productType === 0">
              {{user.purchaseRate}}
            </td>
            <td ng-if="::product.productType === 1">
              <p>{{getSubscribeLevelShow(user.subscribeLevel)}}</p>
            </td>
            <td>
              {{user.purchaseTime | getDate}}
            </td>
            <td ng-if="::product.productType === 0">
              {{user.residualCapitalAmount}}
            </td>
            <td ng-if="::product.productType === 1">
              {{user.residualShare}}
            </td>
            <td ng-if="::product.productType === 0">
              <input type="number" step="0.01" placeholder="数字" class="form-control" ng-model="user.captialAmount" ng-required="true">
            </td>
            <td ng-if="::product.productType === 1">
              <input type="number" step="0.01" placeholder="数字" class="form-control" ng-model="user.share" ng-required="true">
            </td>
            <td>
              <input type="number" step="0.01" placeholder="数字" class="form-control" ng-model="user.incomeAmount" ng-required="true">
            </td>
           </tr>
           <tr ng-if="model.purchaseRecords.length > 0">
             <td ng-if="::product.productType === 0" colspan="5">
             <td ng-if="::product.productType === 1" colspan="6">
             <td>合计</td>
             <td>
               <span>{{getTotalToDistributeAmount()}}</span>
             </td>
             <td>
                <span>{{getTotalToDistributeIncomeAmount()}}</span>
             </td>
           </tr>
           <tr ng-if="model.purchaseRecords.length > 0">
             <td ng-if="::product.productType === 0" colspan="5">
             <td ng-if="::product.productType === 1" colspan="6">
             <td>分配日期</td>
             <td colspan="2"><my-date-picker date="submitData.distributeDate"></my-date-picker></td>
             <td></td>
           </tr>
          </tbody>
        </table>
        </div>
    <div class="form-group">
       <div class="col-sm-offset-3 col-sm-8">
            <button type="submit"  class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="submit()" value="提交" ng-disabled="!fixedIncomeDistributionCrtForm.$valid">提交
            </button>
            <button type="button" class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>
</div>
