<form name="userCrtForm" class="bs-example form-horizontal form-padding-top form-padding-right-left m-md">
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">客户姓名 :</label>
                <span class="col-lg-8 padding-sm">
                    {{item.realName}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">客户来源 :</label>
                <span class="col-lg-8 padder-xs padding-sm">
                    {{item.userSourceShow}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">风险等级 :</label>
                <span class="col-lg-8 padding-sm">
                     {{item.customRiskShow}}
                </span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">手机号码 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.phone}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">固定电话 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.landline}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">总资产 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.assetTotal}}
                </span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">客户类型 :</label>

                <span class="col-lg-8 m-r-n padding-sm">
                    {{item.customTypeShow}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">婚姻状况 :</label>

                <span class="col-lg-8 padding-sm">
                    <!-- <p ng-if="item.marriage === 1">已婚</p>
                    <p ng-if="item.marriage === 2">未婚</p> -->
                    {{item.marriageShow}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">可用资产 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.assetAvailable}}
                </span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">性别 :</label>

                <span class="col-lg-8 padding-sm">
                    <!-- <p ng-if="item.gender === 1">男</p>
                    <p ng-if="item.gender === 2">女</p> -->
                    {{item.genderShow}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">生日 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.birthday | getDate}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label myform-label wrapper-xs">职位 :</label>

                <span class="col-lg-8 padding-sm">
                    {{item.companyJob}}
                </span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">所属区域 :</label>

                <div class="col-lg-10 padding-sm">
                    {{item.areaStore}}
                </div>

                <!-- <div class="col-lg-10">
                          {{item.province}}省{{item.city}}市</p>
                   </div> -->
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">电子邮箱 :</label>

                <span class="col-lg-10 padding-sm">
                    {{item.email}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">家庭住址 :</label>

                <div class="col-lg-10 padding-sm">
                    {{item.homeAddress}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">开户银行 :</label>

                <span class="col-lg-10 padding-sm">
                     {{item.bankName}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">首位理财师 :</label>

                <span class="col-lg-10 padding-sm">
                     {{item.firstEmployeeRealName}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">前二理财师 :</label>

                <span class="col-lg-10 padding-sm">
                     {{item.lastEmployeeRealName2}}
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">身份证 :</label>

                <div class="col-lg-7 padding-sm">
                    {{item.identityId}}
                </div>
                <div class="col-lg-3 padding-sm">
                    <p ng-if="::!item.verified" class="not-verified">未认证</p>
                    <p ng-if="::item.verified" class="verified">已认证</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">单位名称 :</label>

                <span class="col-lg-10 padding-sm">
                    {{item.companyName}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">单位地址 :</label>

                <div class="col-lg-10 padding-sm">
                    {{item.companyAddress}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">银行卡号 :</label>

                <span class="col-lg-10 padding-sm">
                       {{item.bankCard}}
                </span>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label myform-label wrapper-xs">前一理财师 :</label>

                <span class="col-lg-10 padding-sm">
                       {{item.lastEmployeeRealName1}}
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-lg-1 control-label myform-label wrapper-xs">投资记录 :</label>

                <div class="col-lg-11 padding-sm">
                    {{item.tenderRecord}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label myform-label wrapper-xs">家庭情况 :</label>

                <div class="col-lg-11 padding-sm">
                    {{item.homeContent}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label myform-label wrapper-xs">兴趣爱好 :</label>

                <div class="col-lg-11 padding-sm">
                    {{item.hobby}}
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-1 control-label myform-label wrapper-xs">其他备注 :</label>

                <div class="col-lg-11 padding-sm">
                    {{item.memo}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-6">
                    <!-- <button type="submit" ng-disabled='!ChangeUserCrtForm.$valid' ng-click="submit()"
                            class="btn m-b-xs m-r-md w-xs btn-primary" value="保存">
                        保存
                    </button> -->
                    <button type="button" ng-click="cancel()" class="btn m-b-xs w-xs btn-default" value="关闭"
                            tabindex="0">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
