<form name="addActivityForm" class="bs-example form-horizontal" style="padding-top:20px;">
    <div class="form-group">
        <label class="col-lg-2 control-label">活动名称</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" ng-required="true" ng-model="submitData.name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">活动内容</label>
        <div class="col-lg-9">
            <textarea class="form-control" rows="4" ng-required="true" ng-model="submitData.content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">时间</label>
            <div class="row">
                <div class="col-lg-4">
                    <my-date-picker date="submitData.startTime"></my-date-picker>
                </div>
                <span class="col-lg-1 control-label">至</span>
                <div class="col-lg-4">
                    <my-date-picker date="submitData.endTime"></my-date-picker>
                </div>
            </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="m-b-lg">
                <div class="form-group">
                    <label class="col-lg-4 control-label">时间</label>
                    <div class="col-lg-7">
                        <my-date-picker date="submitData.startTime"></my-date-picker>
                    </div>
                    <span class="col-lg-1 control-label">至</span>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="m-b-lg">
                <div class="form-group">
                    <label class="col-lg-0 control-label"></label>

                    <div class="col-lg-7">
                        <my-date-picker date="submitData.endTime"></my-date-picker>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <fieldset disabled>
        <div class="form-group">
            <label for="disabledTextInput" class="col-lg-2 control-label">初审人员</label>

            <div class="col-lg-5">
                <input type="text" id="disabledTextInput" class="form-control" placeholder="{{item.firstReviewEmployeeRealName}}">
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label class="col-lg-2 control-label">参加人数</label>

        <div class="col-lg-5">
            <input type="text" class="form-control" placeholder="参加人数" ng-required="true" ng-model="submitData.numAttendees">
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">参与人员</label>

        <div class="col-lg-9">
            <textarea class="form-control" rows="4" ng-required="true" ng-model="submitData.attendees"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">附件</label>

        <div class="col-lg-9">
            <my-file-upload files="activity.attachment"></my-file-upload>
        </div>
    </div>


    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn m-b-xs m-r-md w-xs btn-primary" ng-disabled='!addActivityForm.$valid' ng-click="submit()" value="提交">提交</button>
            <button type="button" class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>
