<form name="floatingIncomeDistributionCrForm" class="bs-example form-horizontal" style="padding-top:20px;">
    <div class="form-group">
        <label class="col-sm-3 control-label">产品标题</label>
        <div class="col-sm-7 padding-sm">
            <p>{{item.name}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">兑付本金份额</label>
        <div class="col-sm-6">
            <input type="number" placeholder="数字" class="form-control" ng-model="submitData.share" ng-required="true">
        </div>
        <div class="col-sm-1 control-label text-left"><p>份</p></div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">实际兑付金额</label>
        <div class="col-sm-6 padding-sm">
            <p>{{submitData.share * item.networth}}</p>
        </div>
        <div class="col-sm-1 control-label text-left"><p>元</p></div>
    </div>
    <div class="form-group">
       <div class="col-sm-offset-3 col-sm-8">
            <button type="submit"  class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="submit()" value="提交" ng-disabled="!floatingIncomeDistributionCrForm.$valid">提交
            </button>
            <button class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button>
        </div>
    </div>
</form>
