<div  style="padding:20px;">
<table st-table="" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>净值日期</th>
    <th>净值(元)</th>
    <th>复权净值(元)</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="networthHistory in model.productNetworthHistoryListOne" st-select-row="row">
    <td>{{networthHistory.networthDate}}</td>
    <td>{{networthHistory.networth}}</td>
    <td>{{networthHistory.adjustedNetworth}}</td>
  </tr>
  </tbody>
</table>
<uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
