<form class="form-horizontal" method="post" style="padding-top:20px;">
  <div class="form-group">
    <label class="col-sm-2 control-label myform-label">初审人 :</label>
    <div class="col-sm-10 padding-sm">
    <p>{{item.firstReviewEmployeeRealName}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label myform-label">初审时间 :</label>
    <div class="col-sm-10 padding-sm">
    <p>{{item.firstReviewTime}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label myform-label">初审意见 :</label>
    <div class="col-sm-9 padding-sm">
      <p>{{item.firstReviewRemark}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label myform-label">会签意见 :</label>
    <div class="col-sm-9 padding-sm">
      <p>{{item.mySignRemark}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label myform-label">会签结果 :</label>
    <div class="col-sm-9  padding-sm">
      <p ng-if="item.mySignStatus === 1">会签通过</p>
      <p ng-if="item.mySignStatus === 2">会签不通过</p>
    </div>
  </div>
</form>
