<form name="addSubscribeForm" class="bs-example form-horizontal" style="padding-top:20px;">
    <div class="form-group">
        <label class="col-sm-2 control-label myform-label">所属活动 :</label>
        <div class="col-sm-5 padding-sm">
            <p>{{item.name}}</p>
        </div>
    </div>
    <fieldset disabled>
        <div class="form-group">
            <label class="col-sm-2 control-label myform-label">活动内容 :</label>
            <div class="col-sm-9 padding-sm">
                <p>{{item.content}}</p>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <label class="col-sm-2 control-label myform-label">邀请客户 :</label>
        <div class="col-sm-5 padding-sm">
            <p>{{model.subscribeForList.userRealName}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label myform-label">随行人数 :</label>
        <div class="col-sm-5 padding-sm">
            <p>{{model.subscribeForList.numEntourage}}</p>
        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label myform-label">客户意向 :</label>
      <div class="col-sm-10 padding-sm">
        <p ng-if="model.subscribeForList.userIntention===1">明确</p>
        <p ng-if="model.subscribeForList.userIntention===2">待定</p>
      </div>
    </div>
</form>
