<div class="wrapper-md">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="panel panel-default">
        <table st-table="" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>活动名称</th>
            <th>活动时间</th>
            <th>活动内容</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="activity in model.subscribeList" st-select-row="row">
            <td>{{activity.name}}</td>
            <td>{{activity.startTime}} - {{activity.endTime}}</td>
            <td>{{activity.content}}</td>
            <td>
              <a ng-href="" ng-click="openAddSubscribe(activity)" style="display:block;">【添加预约】</a>
              <a ng-href="" ng-click="openSubscribeResult(activity)" style="display:block;">【查看预约】</a>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
</div>
