<div class="wrapper-md">
	<div class="panel panel-default">
		<nav class="navbar navbar-default" role="navigation">
		    <div class="navbar-header">
		        <a class="navbar-brand">活动名称</a>
		    </div>
		    <div>
		        <form class="navbar-form navbar-left" role="search">
		            <div class="form-group">
		                <input type="text" class="form-control" placeholder="搜索活动名称" ng-model="query.keyword">
		            </div>
		            <button type="submit" class="btn btn-default" ng-click="search()">搜索</button>
		        </form>
		    </div>
		</nav>
	</div>
  <!-- tab -->
    <tabset class="tab-container">
      <tab heading="未结束的活动" select="switchTab(3)">
      	<div class="panel panel-default">
		    <table st-table="" class="table table-bordered table-striped">
		      <thead>
		      <tr>
		        <th>活动名称</th>
		        <th>活动时间</th>
		        <th>活动内容</th>
		        <th>操作</th>
		      </tr>
		      </thead>
		      <tbody>
		      <tr ng-repeat="activity in model.activityList" st-select-row="row">
		        <td>{{activity.name}}</td>
		        <td>{{activity.startTime}} - {{activity.endTime}}</td>
		        <td>{{activity.content}}</td>
			    <td>
		          <a ng-href="" ng-click="openSubscribeResult(activity)" style="display:block;">【查看预约】</a>
		          <a ng-href="" ng-click="openReviewResult(activity)" style="display:block;">【查看审核结果】</a>
		          <a ng-href="" style="display:block;">【活动结束】</a>
		        </td>
		      </tr>
		      </tbody>
		    </table>
		</div>
      </tab>
      <tab heading="活动结束" select="switchTab(5)">
      	<div class="panel panel-default">
		    <table st-table="ActivityCtrl" class="table table-bordered table-striped">
		      <thead>
		      <tr>
		        <th>活动名称</th>
		        <th>活动时间</th>
		        <th>活动内容</th>
		        <th>操作</th>
		      </tr>
		      </thead>
		      <tbody>
		      <tr ng-repeat="activity in model.activityList" st-select-row="row">
		        <td>{{activity.name}}</td>
		        <td>{{activity.startTime}} - {{activity.endTime}}</td>
		        <td>{{activity.content}}</td>
			    <td>
		            <a ng-href="" style="display:block;">【查看反馈】</a>
		        </td>
		      </tr>
		      </tbody>
		    </table>
		  </div>
      </tab>
      <tab heading="审核失败" select="switchTab(7)">
      	<div class="panel panel-default">
		    <table st-table="ActivityCtrl" class="table table-bordered table-striped">
		      <thead>
		      <tr>
		        <th>活动名称</th>
		        <th>活动时间</th>
		        <th>活动内容</th>
		        <th>操作</th>
		      </tr>
		      </thead>
		      <tbody>
		      <tr ng-repeat="activity in model.activityList" st-select-row="row">
		       <!-- ng-if="activity.status===6 ||activity.status===7" -->
		        <td>{{activity.name}}</td>
		        <td>{{activity.startTime}} - {{activity.endTime}}</td>
		        <td>{{activity.content}}</td>
			    <td>
		            <a ng-href="" ng-click="openFailReviewResult(activity)" style="display:block;">【查看审核结果】</a>
		        </td>
		      </tr>
		      </tbody>
		    </table>
		  </div>
      </tab>
    </tabset>
  <!--  tab -->

</div>
