<div class="wrapper-md">
    <!-- <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
    <div class="panel panel-default bg-light lter">
        <div class="panel-body">
            <!--页眉框-->

            <form class="bs-example form-horizontal">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">客户姓名</label>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="query.name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">客户来源</label>

                        <div class="col-lg-8">
                            <select class="form-control wrapper-xs" ng-model="query.customSource">
                                <option value="-1">全部</option>
                                <option value="1">公司资源</option>
                                <option value="2">陌生电话</option>
                                <option value="3">老客户转介绍</option>
                                <option value="4">亲戚朋友</option>
                                <option value="5">其他</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">客户类型</label>

                        <div class="col-lg-8">
                             <select class="form-control wrapper-xs" ng-model="query.customType">
                                 <option value="-1">全部</option>
                                <option value="1">钻石</option>
                                <option value="2">黄金</option>
                                <option value="3">白银</option>
                                <option value="4">重点</option>
                                <option value="5">意向</option>
                                <option value="6">一般</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-4 control-label">理财师</label>

                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="query.employeeRealName">
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="col-lg-4 control-label">风险等级</label>

                        <div class="col-lg-8">
                            <select class="form-control" ng-model="query.customRisk">
                                <option value="-1">全部</option>
                                <option value="1">保守</option>
                                <option value="2">稳健</option>
                                <option value="3">进取</option>
                                <option value="4">极度进取</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <button class="btn btn-default w-xs" ng-click="search()">搜索</button>
                    </div>
                </div>

                <div class="col-lg-3">
                    <button class="btn btn-default w-xs" ng-click="openUserCrt('lg')">新建客户</button>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <table st-table="" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>客户名称</th>
                <th>客户类型</th>
                <th>风险等级</th>
                <th>客户来源</th>
                <th>可用资产</th>
                <th>理财师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in model.user" st-select-row="row">
                <td>{{user.realName}}</td>
                <td>{{user.customTypeShow}}</td>
                <td>{{user.customRiskShow}}</td>
                <td>{{user.userSourceShow}}</td>
                <td>{{user.assetAvailable}}</td>
                <td>{{user.employeeRealName}}</td>
                <td>
                    <div>
                        <button uib-popover="查看" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openViewUserCrt(user)"><i class="fa fa-eye"></i></button>
                        <button uib-popover="修改" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openChangeUserCrt(user, 'lg')"><i class="fa fa-pencil"></i></button>
                        <!-- <button uib-popover="删除" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openDeleteUserCtr(user)"><i class="fa fa-times"></i></button> -->
                        <button uib-popover="对账单" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openViewBillReport(user, 'lg')"><i class="fa fa-briefcase"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
