<div class="wrapper-md">
	<div class="panel panel-default bg-light lter">
	    <div class="panel-body">
	        <form class="bs-example form-horizontal">
	            <div class="col-lg-6">
	                <div class="form-group">
	                    <label class="col-lg-2 control-label">公告标题</label>
	                    <div class="col-lg-8">
	                        <input type="text" class="form-control" ng-model="query.keyword">
	                    </div>
	                </div>
	                <div class="form-group">
	                    <label class="col-lg-2 control-label">公告时间</label>

											<div class="col-lg-10 no-padder">
		                    <div class="col-lg-5 no-padder">
			                    <my-datetime-picker dropdown-id="'dropdown1'" date="query.startTime"></my-datetime-picker>
		                    </div>
		                    <label class="col-lg-1 control-label">至</label>
		                    <div class="col-lg-5 no-padder">
		                    	<my-datetime-picker dropdown-id="'dropdown2'" date="query.endTime"></my-datetime-picker>
		                    </div>
											</div>
	                </div>
	            </div>
	            <div class="col-lg-4">
	                <div class="row">
	                <div class="form-group">
	                    <label class="col-lg-3 control-label">状态</label>
	                    <div class="col-lg-5">
	                        <select class="form-control" ng-model="query.status">
	                            <option value="-1">全部</option>
	                            <option value="0">未读</option>
	                            <option value="1">已读</option>
	                        </select>
	                    </div>
	                </div>
	                </div>
	                <div class="row">
	                <div class="col-lg-2 col-lg-offset-2">
	                    <div class="form-group">
	                        <button class="btn btn-default w-xs" ng-click="search()">搜索</button>
	                    </div>
	                </div>
	                </div>
	            </div>
	        </form>
	    </div>
	</div>
	<div class="panel panel-default">
		<table st-table="" class="table table-bordered table-striped">
		  <thead>
		  <tr>
		    <th>标题</th>
		    <th>发送时间</th>
		     <th>操作</th>
		  </tr>
		  </thead>
		  <tbody>
		  <tr ng-repeat="notice in model.employeeNotice" st-select-row="row">
		    <td>{{notice.title}}</td>
		    <td>{{notice.createTime}}</td>
		    <td>
		      <div>
		        <button uib-popover="查看" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openViewNotification(notice)"><i class="fa fa-eye"></i></button>
		      </div>
		    </td>
		  </tr>
		  </tbody>
		</table>
	</div>
	<uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
