<div class="wrapper-md">
<!-- <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
    <div class="panel panel-default bg-light lter">
        <div class="panel-body">
            <form class="bs-example form-horizontal">
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label">产品名称</label>

                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="query.keyword">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label">产品类型</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.productTypes">
                                <option value="'0,1'">全部</option>
                                <option value="0">固定类</option>
                                <option value="1">浮动类</option>
                                <!-- <option value="2">金融不良资产</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 control-label">产品状态</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.status">
                                <option value="-1">全部</option>
                                <!-- <option value="1">待上线</option> -->
                                <option value="2">募集期</option>
                                <option value="0">过会中</option>
                                <!-- <option value="3">待成立</option> -->
                                <option value="4">存续期</option>
                                <option value="5">展期中</option>
                                <option value="6">已兑付</option>
                                <option value="7">已下线</option>
                                <!-- <option value="11">过会失败</option> -->
                                <!-- <option value="12">上线失败</option> -->
                                <!-- <option value="13">成立失败</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div>
                        <div class="form-group">
                            <label class="col-lg-3 col-md-3 control-label">成立日期</label>

                            <div class="col-lg-9 col-md-9">
                                <my-date-picker date="query.startEstablishDate"></my-date-picker>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <span class="col-lg-2 col-md-2 control-label">至</span>

                        <div class="col-lg-9 col-md-9">
                            <my-date-picker date="query.endEstablishDate"></my-date-picker>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="form-group">
                        <button class="btn btn-default w-xs" ng-click="productListSearch()">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
                <table st-table="" class="table table-borderd table-striped">
                    <thead>
                    <tr>
                        <th>产品名称</th>
                        <th>产品类型</th>
                        <th>产品状态</th>
                        <th>成立日期</th>
                        <th>产品期限</th>
                        <th>募集金额</th>
                        <th>收益分配方式</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in model.productList" st-select-row="row">
                        <td>{{product.name}}</td>
                        <td>{{product.productTypeShow}}</td>
                        <td>{{product.statusShow}}</td>
                        <td>{{product.establishDate | getDate}}</td>
                        <td>{{getPeriodShow(product.period)}}</td>
                        <td>{{product.establishAmount}}</td>
                        <td>{{getDistributionTypeShow(product.distributionType)}}</td>
                        <td class="nowrap">
                            <!-- <button uib-popover="查看产品" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductView(product)"><i class="fa fa-briefcase"></i></button> -->
                            <button uib-popover="分配" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openIncomeDistributionCrt(product)" ><i class="fa fa-pencil"></i></button>
                        </td>
                    </tr>
                    <tbody>
                </table>
            </div>



    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
