<div class="wrapper-md">
<!-- <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
   <div class="panel panel-default bg-light lter">
        <div class="panel-body">
            <form class="bs-example form-horizontal">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品名称</label>

                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="query.keyword">
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品类型</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.productType">
                                <option value="-1">全部</option>
                                <option value="0">固定类</option>
                                <option value="1">浮动类</option>
                                <option value="2">金融不良资产</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">机构类型</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.orgnizationType">
                                <option value="-1">全部</option>
                                <option value="0">信托</option>
                                <option value="1">证券公司</option>
                                <option value="2">证券子公司</option>
                                <option value="3">公墓基金</option>
                                <option value="4">基金子公司</option>
                                <option value="5">私募管理人</option>
                                <option value="6">有限合伙</option>
                            </select>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="form-group">
                        <button class="btn btn-default w-xs" ng-click="networthSettingSearch()">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <table st-table="" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>产品名称</th>
            <th>基金总份额</th>
            <th>基金总资产</th>
            <th>目前复权净值</th>
            <th>目前净值</th>
            <th>净值日期</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="product in model.networthSettingList" st-select-row="row">
            <td>{{product.name}}</td>
            <td>{{product.share}}</td>
            <td>{{product.networth * product.share}}</td>
            <td>{{product.adjustedNetworth}}</td>
            <td>{{product.networth}}</td>
            <td>{{product.networthDate}}</td>
            <td class="nowrap">
                    <button uib-popover="添加净值" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="addNetworth(product)"><i class="fa fa-plus"></i></button>
                    <button uib-popover="历史净值" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="networthHistory(product)"><i class="fa fa-navicon"></i></button>
            </td>
          </tr>
          </tbody>
        </table>
    </div>
    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
