<div class="wrapper-md">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="pannel panel-default b-a">
                    <div class="panel-body">
                        <form class="bs-example form-horizontal">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">产品名称</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" ng-model="query.name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">产品类型</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" ng-model="query.productType">
                                            <option value="0">固定类</option>
                                            <option value="1">浮动类</option>
                                            <option value="2">金融不良资产</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">机构类型</label>
                                    <div class="col-lg-8">
                                        <select class="form-control" ng-model="query.orgnizationType">
                                            <option value="">信托</option>
                                            <option value="">资管</option>
                                            <option value="">契约性私募</option>
                                            <option value="">公司型私募</option>
                                            <option value="">有限合伙</option>
                                            <option value="">私募债</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <button class="btn btn-default w-xs" ng-model="search()">搜索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>产品名称</th>
        <th>产品类型</th>
        <th>产品规模</th>
        <th>产品期限</th>
        <th>我的审核意见</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="product in model.discussList" st-select-row="row">
        <td>{{product.name}}</td>
        <td>{{getProductTypeShow(product.productType)}}</td>
        <td>{{product.amount}}</td>
        <td>{{getPeriodShow(product.period)}}</td>
        <td ng-if="product.myDiscussDecision === 0">未审批</td>
        <td ng-if="product.myDiscussDecision === 1">通过</td>
        <td ng-if="product.myDiscussDecision === 2">不通过</td>
        <td>
            <a ng-href="" ng-click="openDiscuss(product)" style="display:block;" ng-if="product.myDiscussDecision === 0">【审核】</a>
            <a ng-href="" ng-click="openDiscussResult(product)" style="display:block;" ng-if="product.myDiscussDecision !== 0">【查看】</a>
        </td>
      </tr>
      </tbody>
    </table>
</div>
</div>
