<div class="wrapper-md">
<!-- <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
     <div class="panel panel-default bg-light lter">
        <div class="panel-body">
            <form class="bs-example form-horizontal">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品名称</label>

                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="query.keyword">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品类型</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.productType">
                                <option value="-1">全部</option>
                                <option value="0">固定类</option>
                                <option value="1">浮动类</option>
                                <option value="2">金融不良资产</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">机构类型</label>

                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="query.orgnizationType">
                                <option value="-1">全部</option>
                                <option value="0">信托</option>
                                <option value="1">证券公司</option>
                                <option value="2">证券子公司</option>
                                <option value="3">公墓基金</option>
                                <option value="4">基金子公司</option>
                                <option value="5">私募管理人</option>
                                <option value="6">有限合伙</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="form-group">
                        <button class="btn btn-default w-xs" ng-click="establishSearch()">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <uib-tabset class="tab-container">
      <uib-tab heading="固定类" select="switchTab(0)">
        <div class="panel panel-default">
            <table st-table="" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>产品名称</th>
                <th>产品规模</th>
                <th>已打款</th>
                <th>期限</th>
                <th>收益分配方式</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="product in model.establishList" st-select-row="row" ng-if="product.productType===0">
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.purchaseAmount}}</td> <!-- <td>{{product.establishAmount}}</td> -->
                <td>{{getPeriodShow(product.period)}}</td>
                <td>{{product.distributionTypeShow}}</td>
                <td>
                    <button uib-popover="查看产品" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductView(product)"><i class="fa fa-briefcase"></i></button>
                    <button uib-popover="编辑" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductEdit(product)" ><i class="fa fa-pencil"></i></button>
                    <button uib-popover="处理" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductEstablish(product, 'lg')"><i class="fa fa-upload"></i></button>

                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </uib-tab>
      <uib-tab heading="浮动类" select="switchTab(1)">
        <div class="panel panel-default">
            <table st-table="ActivityCtrl" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>产品名称</th>
                <th>产品规模</th>
                <th>已打款</th>
                <th>期限</th>
                <th>净值</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="product in model.establishList" st-select-row="row" ng-if="product.productType===1">
                <td>{{product.name}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.purchaseAmount}}</td> <!-- <td>{{product.establishAmount}}</td> -->
                <td>{{getPeriodShow(product.period)}}</td>
                <td>{{product.networth}}</td>
                <td>
                  <button uib-popover="查看产品" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductView(product, 'lg')"><i class="fa fa-briefcase"></i></button>
                  <button uib-popover="编辑" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductEdit(product)" ><i class="fa fa-pencil"></i></button>
                  <button uib-popover="处理" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="openProductEstablish(product, 'lg')"><i class="fa fa-upload"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
      </uib-tab>
    </uib-tabset>
    <uib-pagination ng-change="pageChanged()" total-items="totalItems" items-per-page="query.size" ng-model="query.page" max-size="maxSize" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></uib-pagination>
</div>
