<div class="wrapper-md">
<!-- <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> -->
<div class="panel panel-default">
    <div class="panel-body">
        <form name="newFixedForm" class="bs-example form-horizontal form-validation">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品名称</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.name" ng-required="true" placeholder="必填">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">管理机构</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.orgnization" ng-required="true" placeholder="必填">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">融资方</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.financer">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">起购金额</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.minPurchaseAmount" placeholder="数字">
                        </div>
                        <span class="col-lg-2 col-md-2 control-label" >万元</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品简称</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.shortName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">机构类型</label>
                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="product.orgnizationType" ng-required="true">
                                <option value="" default selected>必填</option>
                                <option value="0">信托</option>
                                <option value="1">证券公司</option>
                                <option value="2">证券子公司</option>
                                <option value="3">公募基金</option>
                                <option value="4">基金子公司</option>
                                <option value="5">私募管理人</option>
                                <option value="6">有限合伙</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">运作方式</label>
                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="product.operationType">
                                <option value="1">开放式</option>
                                <option value="0">封闭式</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">开放期</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.openPeriod">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品规模</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.amount" ng-required="true" placeholder="数字、必填">
                        </div>
                        <span class="col-lg-2 col-md-2 control-label" >万元</span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">托管机构</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.hostBank">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">收益分配</label>
                        <div class="col-lg-8 col-md-8">
                            <select class="form-control" ng-model="product.distributionType">
                                <option value="0">到期一次性支付</option>
                                <option value="1">经过季度分配</option>
                                <option value="2">经过半年度分配</option>
                                <option value="3">经过九个月分配</option>
                                <option value="4">经过年度分配</option>
                                <option value="5">自然季度分配</option>
                                <option value="6">自然半年度分配</option>
                                <option value="7">自然年度分配</option>
                                <option value="8">随收随付</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">投资领域</label>
                        <div class="col-lg-8 col-md-8">
                            <input type="text" class="form-control" ng-model="product.investArea">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品类型</label>
                        <label class="col-lg-4 col-md-4 control-label">固定类</label>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">产品期限</label>
                        <div class="col-lg-8 col-md-8">
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-change='onSelectPeriod(selectedPeriod)' name="optionsRadios" id="optionsRadios2" ng-model="selectedPeriod" value="1" ng-required="true">
                                    <input type="text" class="form-control input-sm yw-w-xxxs inline" ng-model="product.period[0]">
                                    月 +
                                    <input type="text" class="form-control input-sm yw-w-xxxs inline" ng-model="product.period[1]">
                                    月
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-change='onSelectPeriod(selectedPeriod)' name="optionsRadios" id="optionsRadios2" ng-model="selectedPeriod" value="2" ng-required="true">
                                    <input type="text" class="form-control input-sm w-xxs inline" ng-model="product.period[2]">
                                    天
                                </label>
                            </div>
                        </div>
                    </div>
                    <fieldset disabled>
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 control-label">成立日期</label>
                            <div class="col-lg-8 col-md-8">
                                <input type="text" class="form-control" ng-model="product.establishDate">
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">管理费</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.manageFee" placeholder="数字">
                        </div>
                        <p class="m-t-sm">%</p>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">销售费率</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.saleFee" placeholder="数字">
                        </div>
                        <p class="m-t-sm">%</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">其他费率</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.otherFee" placeholder="数字">
                        </div>
                        <p class="m-t-sm">%</p>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">可打款金额</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="text" class="form-control" ng-model="product.availablePurchaseAmount">
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">托管费</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.hostFee" placeholder="数字">
                        </div>
                        <p class="m-t-sm">%</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <label class="col-lg-4 col-md-4 control-label">佣金费率</label>
                        <div class="col-lg-6 col-md-6">
                            <input type="number" class="form-control" ng-model="product.commissionFee" placeholder="数字">
                        </div>
                        <p class="m-t-sm">%</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">产品简介</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" rows="4" ng-model="product.description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">还款来源</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" rows="4" ng-model="product.repaySource"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">产品介绍</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" rows="4" ng-model="product.info"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">风控措施</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" rows="4" ng-model="product.riskControl"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">风险提示</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea class="form-control" rows="4" ng-model="product.riskHink"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 control-label">收益设置</label>
                        <div class="col-lg-3 col-md-3">
                            <button type="button" class="btn btn-default" ng-click="addIncomeSetting()">
                                添加时长阶梯
                            </button>
                            （必填）
                        </div>
                        <!-- <div class="col-lg-3 col-md-3">
                            <button class="btn btn-default w-xs" ng-click="deleteIncomeSetting()">
                                删减
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="setting in product.incomeSetting">
                <div class="col-lg-11 col-md-11 col-md-offset-1">
                    <div class="pannel panel-default b-a m-b-md">
                        <div class="panel-body">
                            <form class="bs-example form-horizontal">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-lg-4 col-md-4 control-label m-n-md">购买期限</label>
                                            <div class="col-lg-5 col-md-5">
                                                <input type="text" class="form-control w-sm" ng-model="setting.anualRatePeriod">
                                            </div>
                                            <p class="m-t-sm">月/天</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <button type="button" class="btn btn-default inline" ng-click="addRate(setting)">添加阶梯利益</button>
                                    </div>
                                    <button uib-popover="删除" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="deleteIncomeSetting(setting)"><i class="fa fa-times"></i></button>
                                </div>
                                <div class="row rate-list">
                                    <div class="col-lg-6 col-md-12" ng-repeat="rate in setting.rates">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 control-label m-n-xs">第{{$index+1}}档</label>
                                            <div class="col-lg-9 col-md-9">
                                                <label  class="m-l-n-sm">
                                                    认购金额
                                                    <input type="number" class="form-control input-sm w-xxs inline " ng-model="rate.subscribeAmount[0]">
                                                    &nbsp;-&nbsp;
                                                    <input type="number" class="form-control input-sm w-xxs inline" ng-model="rate.subscribeAmount[1]" ng-init="rate.subscribeAmount[1] = product.amount">
                                                    万元，年化收益
                                                    <input type="number" class="form-control input-sm yw-w-xxxs inline" ng-model="rate.rate">
                                                    %
                                                </label>
                                            </div>
                                            <div class="col-lg-1">
                                                <button uib-popover="删除" popover-trigger="mouseenter" class="btn btn-xs btn-info m-xs btn-icon btn-icon-sm" ng-click="deleteRate(setting,rate)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 m-b-sm">
                        <label class="col-md-2 control-label">产品附件</label>
                        <div class="col-md-10">
                            <my-file-upload files="product.attachment"></my-file-upload>
                        </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                        <label class="col-md-2 control-label">推荐材料</label>

                        <div class="col-md-10">
                            <my-file-upload files="product.recommendMaterial"></my-file-upload>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-top:20px;">
                <div class="col-lg-offset-10 col-lg-2 col-sm-offset-10">
                    <!-- <button type="submit" class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="onAdd()" value="保存" ng-disabled="!newFixedForm.$valid && isSubmitting">保存 -->
                    <button type="submit" class="btn m-b-xs m-r-md w-xs btn-primary" ng-click="onAdd()" value="保存" ng-class="{'disabled': !newFixedForm.$valid && isSubmitting}">保存
                    </button>
                   <!-- <button type="submit" class="btn m-b-xs w-xs btn-default" value="取消" tabindex="0" ng-click="cancel()">取消</button> -->
                </div>
            </div>
        </form>
    </div>
</div>
</div>
